<div id="welcome">
  <div id="text_container">
    <div>
      <h1>Bienvenue sur
        <span class="text-secondary">Simulcreare</span>
      </h1>
      <div id="homepage_buttons">
        <a class="btn btn-secondary">À propos</a>
        <a class="btn btn-primary">Démarrer</a>
      </div>
    </div>
  </div>
</div>
<div id="homepage_under">
  <div class="homepage_column">
    <h4 class="text-secondary">
      <i class="fas fa-question"></i> En bref</h4>
    <p>
      <i class="text-primary">Simulcreare</i> est une application dont le but est de permettre aux passionnés d'écriture de travailler ensemble sur
      une même oeuvre.</p>
  </div>
  <div class="homepage_column">
    <h4 class="text-secondary">
      <i class="fas fa-users"></i> Orienté communauté</h4>
    <p>Cette application est orienté communauté. La communauté a donc un grand pouvoir ainsi qu'une grande responsabilité. Le
      respect et la politesse sont des valeurs primordiales sur
      <i>Simulcreare</i>.
    </p>
  </div>
</div>
<!--<div id="action_panel_container">
  <div class="action_panel">
    <div class="action">
      <i class="far fa-file"></i>
      <h5>Nouvelle création</h5>
    </div>
  </div>
  <div class="action_panel">
    <div class="action">
      <i class="fas fa-folder-open"></i>
      <h5>Mes créations</h5>
    </div>
  </div>
  <div class="action_panel">
    <div class="action">
      <i class="fab fa-wpexplorer"></i>
      <h5>Parcourir</h5>
    </div>
  </div>
</div>-->