@import '../variables';

.menu a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-transform: uppercase;
    font-size: .9em;
}

.menu a:hover {
    cursor: pointer;
    color: darken( white, 10% );
}

a.text-third {
    color: $third;
}

a.text-third:hover {
    cursor: pointer;
    color: darken( $third, 10% );
}

#footer {
    display: flex;
    justify-content: center;
}

.bg-third {
    background-color: $third;
}

.content-column {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}