<div id="main_container">
  <nav class="navbar navbar-dark bg-primary">
      <span>
          <a class="navbar-brand" href="#">Simulcreare</a>
      </span>
      <span class="menu">
          <a class="">Mes créations</a>
          <a class="">Nouvelle création</a>
          <a class="">Parcourir</a>
          <a href="authentication/login">Connexion</a>
      </span>
  </nav>
  <router-outlet></router-outlet>
</div>
<div class="fixed-bottom">
  <nav class="navbar navbar-dark bg-secondary" id="footer">
      <p>Simulcreare est une application opensource sous licence GNU/GPL</p>
  </nav>
</div>